* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a5353;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.text {
  color: #fff;
  margin-bottom: 1.5rem;
}
.input {
  padding: 1rem;
  width: 20rem;
  border: none;
  border-radius: 5px;
}
.btn {
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  background-color: #dfc033;
  border: none;
  border-radius: 2px;
  font-family: monospace;
  color: #2e2c2c;
}
